body {
    background-color: purple;
    color: yellow;
}
h1 {
    color: blue;
}
#flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: red;
    padding-bottom: 200px;
    margin-bottom: 100px;
}
.hidden {
    display: none;
}
#intro p {
    color: salmon;
}
p {
    color: grey;
}